*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 50px;
  background-color: #ff9a4b;
}

main {
  margin: 50px auto;
  display: flex;
  justify-content: center;
}

.main-child {
  width: 960px;
  display: flex;
  flex-wrap: wrap;
}

.box {
  width: 300px;
  background-color: #eeeeee;
  position: relative;
  padding: 10px;
}

.step {
  background-color: #ff9a4b;
  padding: 3px;
  color: #fff;
  position: absolute;
  top: 0px;
  left: 0px;
}

.box-img {
  background-image: url(task1_img/flow01.png);
  background-size: cover;
  background-position: bottom;
  height: 150px;
}

.box-title {
  margin: 15px 0 5px;
}

.box-img2 {
  background-image: url(task1_img/flow02.png);
  background-size: cover;
  background-position: bottom;
  height: 150px;
}

.box-img3 {
  background-image: url(task1_img/flow03.png);
  background-size: cover;
  background-position: bottom;
  height: 150px;
}

.box-space {
  margin: 0 30px;
}

footer {
  height: 50px;
  background-color: #aaaaaa;
}

@media screen and (max-width: 768px) {
  .main-child {
    width: 100%;
    display: block;
  }
  .box {
    width: 90%;
    margin: 0 auto;
  }
  .box-space {
    margin: 20px auto;
  }
}
